<h3 class="status-heading">Currently Reading</h3>
<div class="row">
  <book-card *ngFor="let book of shelfService.currentlyReadingBooks" [book]="book"></book-card>
</div>

<h3 class="status-heading">Want To Read</h3>
<div class="row">
  <book-card *ngFor="let book of shelfService.wantToReadBooks" [book]="book"></book-card>
</div>

<h3 class="status-heading">Read</h3>
<div class="row">
  <book-card *ngFor="let book of shelfService.readBooks" [book]="book"></book-card>
</div>