<div class="card card-custom" style="">
  <img class="card-img-top" [src]="book.imagePath" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text">{{book.subtitle}}</p>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Recategorize
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" *ngFor="let status of readStatus" [ngClass]="{'dropdown-item-checked' : book.readStatus === status.id}" (click)="updateStatus(status.id)">{{status.name}}</a>
        </div>
      </div>
  </div>
</div>