.dropdown-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓';
    font-weight: 600;
}

.dropdown-item:hover {
  cursor: pointer;
}

.card-custom {
  width: 13rem;
  margin: 15px;
}