<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/search">Search</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">  
<router-outlet></router-outlet>
</div>