<div class="form-group search-form">
    <input type=text [value]="searchText" [formControl]="searchFormControl">
</div>

<h3 class="status-heading">Search Results</h3>

<div *ngIf="searchResults?.length">
<div class="row">
  <book-card *ngFor="let book of searchResults" [book]="book"></book-card>
</div>
</div>